<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="footer-box">
					<h2 class="widget-title">About us</h2>
					<p>The best bakery in the Middle East! Here you will find the most delicious things you have ever eaten :)</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer-box">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>Avraham Avinu 31/75, Be'er Sheva</li>
						<li>Support@Matamim.com</li>
						<li>Tel: +972-54223471</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="home.html">Home</a></li>
						<li><a href="About.html">About</a></li>
						<li><a href="Menu.html">Menu</a></li>
						<li><a href="Events.html">Events</a></li>
						<li><a href="contact_us.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="home.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
