body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}


.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5
 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-lg {
    margin-left: 16.666667%;
  }
  .offset-lg-0{
    margin-left: 12%;

  }
  .offset-lg-1{
    margin-left: 5%;
  }

}
.text-center {
  text-align: center !important;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #F28123;
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3
 {
  font-family: "Poppins";
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
}


h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {
  h1, .h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h1, .h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

@media only screen and (max-width: 575.96px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
}

@media only screen and (max-width: 575.96px) {
  h3, .h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

/* -----------------------------------------------------------------------------

# Loader

----------------------------------------------------------------------------- */

p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 1.25rem 0;
}

.loader {           /* -----------*/
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
  background: #F9E6E2 ;
  overflow-x: hidden;
}

.loader-inner { /* -----------*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}

.circle {     /* -----------*/
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #842611;
  border-radius: 50%;
  animation: spinRight 800ms linear infinite;
}

.circle:before {      /* -----------*/
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #F28123;
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
}

.circle:after {       /* -----------*/
  content: '';
  width: 6vmax;
  height: 6vmax;
  display: block;
  position: absolute;
  top: calc(50% - 3vmax);
  left: calc(50% - 3vmax);
  border-left: 3px solid #F28123;
  border-radius: 100%;
  animation: spinLeft 800ms linear infinite;
  width: 4vmax;
  height: 4vmax;
  top: calc(50% - 2vmax);
  left: calc(50% - 2vmax);
  border: 0;
  border-right: 2px solid #842611;
  animation: none;
}


@keyframes spinLeft {         /* -----------*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}


@keyframes spinRight {      /* -----------*/
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* -----------------------------------------------------------------------------

# End of Loader

----------------------------------------------------------------------------- */

.mt-150 {
  margin-top: 150px;
}

@media only screen and (max-width: 767.96px) {
  .mt-150 {
    margin-top: 1000px;
  }
}

.mb-150 {
  margin-bottom: 150px;
}

@media only screen and (max-width: 767.96px) {
  .mb-150 {
    margin-bottom: 100px;
  }
}

.pt-80 {
  padding-top: 80px;
}

@media only screen and (max-width: 767.96px) {
  .pt-80 {
    padding-top: 50px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}

@media only screen and (max-width: 767.96px) {
  .pb-80 {
    padding-bottom: 50px;
  }
}

.pt-100 {
  padding-top: 100px;
}

@media only screen and (max-width: 767.96px) {
  .pt-100 {
    padding-top: 80px;
  }
}

.pb-100 {
  padding-bottom: 100px;
}

@media only screen and (max-width: 767.96px) {
  .pb-100 {
    padding-bottom: 80px;
  }
}

.pt-150 {
  padding-top: 150px;
}

@media only screen and (max-width: 767.96px) {
  .pt-150 {
    padding-top: 100px;
  }
}

.pb-150 {
  padding-bottom: 150px;
}

@media only screen and (max-width: 767.96px) {
  .pb-150 {
    padding-bottom: 100px;
  }
}

.orange-text {
  color: #F28123;
}

a.boxed-btn {
  font-family: 'Poppins';
  display: inline-block;
  background-color: #F28123;
  color: #fff;
  padding: 10px 20px;
}

a.bordered-btn {
  font-family: 'Poppins';
  display: inline-block;
  color: #fff;
  border: 2px solid #F28123;
  padding: 7px 20px;
}

@media only screen and (max-width: 767.96px) {
  a.boxed-btn {
    padding: 7px 20px;
  }
  a.bordered-btn{
    padding: 7px 20px;
  }
}

a.read-more-btn {
  display: inline-block;
  margin-top: 15px;
  color: #051922;
  transition: 0.3s;
  font-weight: 700;
}

a.read-more-btn:hover {
  color: #F28123;
}

a.boxed-btn, a.bordered-btn {
  border-radius: 50px;
}

.section-title h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #F28123;
  margin: 0 auto;
}

.section-title p {
  font-size: 15px;
  width: 530px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
}

.section-title {
  margin-bottom: 80px;
}


/* -----------------------------------------------------------------------------

# Header Styles

----------------------------------------------------------------------------- */
.top-header-area {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 25px 0;
}

nav.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.main-menu ul li {
  display: inline-block;
}

nav.main-menu ul li a {
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 15px;
}

nav.main-menu ul > li {
  position: relative;
}

nav.main-menu ul ul.sub-menu {
  position: absolute;
  background-color: #fff;
  width: 220px;
  padding: 15px 15px;
  margin: 0;
  left: 0;
  top: 50px;
  border-radius: 3px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 20px #555555;
}

nav.main-menu ul ul.sub-menu li {
  display: flex;
  text-align: left;
}

nav.main-menu ul > li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav.main-menu ul li:last-child a {
  display: inline-block;
}

nav.main-menu > ul li:last-child {
  float: right;
}
nav.main-menu ul ul.sub-menu li a {
  color: #555;
  padding: 8px;
  font-size: 13px;
  font-weight: 600;
}

nav.main-menu ul ul.sub-menu li {
  display: block;
}

nav.main-menu ul li.current-list-item > a {
  color: #F28123;
}

nav.main-menu li:hover > a {
  color: #F28123;
}

nav.main-menu li a {
  transition: 0.3s;
}

ul.sub-menu li:last-child {
  float: none !important;
}

.main-menu-wrap {
  position: relative;
}

.site-logo {
  float: left;
  max-width: 250px;
  padding: 5px 0;
}

.header-icons a {
  color: #fff;
  display: inline-block;
  margin-top: 6px;
}

.top-header-area .header-icons a {
  transition: 0.3s;
}

.top-header-area .header-icons a:hover {
  color: #F28123;
}

span.close-btn {      /* -----------*/
  position: absolute;
  right: 0%;
  color: #fff;
  top: 5%;
  cursor: pointer;
}

/* -----------------------------------------------------------------------------

# Footer Styles

----------------------------------------------------------------------------- */


.footer-area {
  background-color: #051922;
  color: #fff;
  padding: 150px 0;
}

h2.widget-title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}

h2.widget-title:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #F28123;
  content: "";
}

.footer-box p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}

.footer-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-box ul li {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
}

.footer-box ul li:last-child {
  margin-bottom: 0;
}

.footer-box.subscribe form input[type=email] {
  border: none;
  background-color: #012738;
  width: 78%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
}

.footer-box.subscribe form button {
  width: 20%;
  border: none;
  background-color: #012738;
  color: #F28123;
  padding: 14px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

.footer-box.subscribe form button:focus {
  outline: none;
}

.footer-box ul li a {
  color: #fff;
}

.footer-box.pages ul li {
  position: relative;
  padding-left: 20px;
}

.footer-box.pages ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #F28123;
}

/* -----------------------------------------------------------------------------

# Hover Styles

----------------------------------------------------------------------------- */
a.boxed-btn {
  transition: 0.3s;
}

a.boxed-btn:hover {
  background-color: #051922;
  color: #F28123;
}

a.bordered-btn {
  transition: 0.3s;
}


.eventCard {
  box-shadow: 0 0 20px #dddddd;
  transition: 0.3s;
}

.eventCard:hover {
  opacity: 0.8;
  box-shadow: 0 0 0;
  box-shadow: none;
}

.footer-box.pages ul li a {
  transition: 0.3s;
}

.footer-box.pages ul li:hover a {
  color: #F28123;
}

.footer-box.subscribe form button {
  transition: 0.3s;
}

.footer-box.subscribe form button:hover {
  background-color: #F28123;
  color: #051922;
}

input[type="submit"] {
  transition: 0.3s;
  border-radius: 50px !important;
}

input[type="submit"]:hover {
  background-color: #051922;
  color: #F28123;
}

a.cart-btn {
  transition: 0.3s;
}

a.cart-btn:hover {
  background-color: #051922;
  color: #F28123;
}

a.mobile-show.person-bar-icon {
  transition: 0.3s;
}

a.mobile-show.person-bar-icon:hover {
  color: #F28123;
}

/* -----------------------------------------------------------------------------

# grey Styles

----------------------------------------------------------------------------- */

.grey-text {
  display: table;
  height: 100%;
}

.grey-text-tablecell {
  display: table-cell;
}

.grey-area {
  height: 70%;
  position: relative;
  z-index: 1;
}

html, body {
  height: 100%;
  background-color: whitesmoke;
}

.grey-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #07212e;
  z-index: -1;
  opacity: 0.6;
}

.grey-text p.subtitle {
  color: #F28123;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}

.grey-text h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.grey-area div {
  height: 100%;
}

.grey-area div.grey-text {
  height: 100%;
  width: 100%;
}

.grey-area div.grey-text-tablecell {
  height: auto;
  vertical-align: middle;
}

.grey-area div.grey-text-tablecell div {
  height: auto;
  vertical-align: middle;
}

.grey-btns {
  margin-top: 50px;
}

.grey-btns a.bordered-btn {
  margin-left: 15px;
}

.grey-area div.grey-form {
  background-color: #fff;
  text-align: center;
  width: 380px;
  margin: 0 auto;
  margin-right: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px #2d2d2d;
  position: absolute;
  right: 30px;
  bottom: -15%;
  height: 600px;
}

input[type="submit"] {
  background-color: #F28123;
  color: #051922;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 3px;
}
a.boxed-btn {
  margin-top: 20px;
}

/* -----------------------------------------------------------------------------

# Shop Page Styles

----------------------------------------------------------------------------- */
.product-cart-container{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}



.product-cart-card {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  transition: 0.3s;
  max-height: 8rem;
  box-shadow: 0 0 20px #e4e4e4;
}

.product-cart-card:hover {
  box-shadow: none;
}

.product-cart-image {
  flex: 0 0 40% ;
  max-width: 40%;
}

.product-cart-image img {
  max-width: 10rem;
  border-radius: 5px;
  transition: 0.3s;
}

.product-cart-image img:hover {
  box-shadow: none;
}

.product-cart-description {
  flex: 0 0 40%;
  max-width: 40%;
}

.product-cart-description h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.product-cart-description p {
  font-family: cursive;
  font-size: 25px;
  margin: 0;
}

.product-cart-description span {
  font-family: cursive;
  font-size: 15px;
}
.product-cart-change{
  flex: 20%;
  display: flex;
  flex-direction: column;
}

.product-cart-quantity{
  margin: auto
}

.product-cart-quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  border: 1px solid #efefef;
}

.product-cart-quantity.buttons_added {
  text-align: center;
  position: relative;
  margin-top: 15%;
  vertical-align: top;
}

.product-cart-quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  width: 8px;
}

.product-cart-quantity.buttons_added .minus,
.product-cart-quantity.buttons_added .plus {
  padding: 9px 11px 12px;
  height: 41px;
  cursor:pointer;
}

.product-cart-quantity.buttons_added .minus:hover,
.product-cart-quantity.buttons_added .plus:hover {
  background: #F28123;
}

.product-cart-quantity input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.transparent{
  background-color: transparent;
  border-color: transparent;
  margin-left: 75%;
  margin-bottom: 10%;
}
.transparent i{
  color: grey;
}

.transparent i:hover{
  color: #F28123;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin-bottom: 15px;
}
.product-cart-summary {
  background-color: lightgoldenrodyellow;
  display: grid;
  grid-template-areas:
            'left header right'
            'left main right'
            'left footer right';
  box-shadow:  0 0 5px #555555;
  border-radius: 15px;
}

.finalPrice{
  grid-area: header;
  text-align: center;
}
#totalPrice {
  grid-area: main;
  text-align: center;
}

.paymentProceed{
  grid-area: footer;
  margin-bottom: 10px;
  text-align: center;
}




/* -----------------------------------------------------------------------------

# Login popup

----------------------------------------------------------------------------- */

.popup{
  background: rgba(0,0,0,0.6);
  width : 100%;
  height: 100%;
  position: absolute;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index:1111;
  visibility: visible;
}
.popup-content{
  height: 300px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.popup-content input{
  margin:20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border:1px solid gray;
}
.popup-content h3 {
  text-align: center;
}
a.login{
  margin:20px auto;
  text-align: center;
  display: block;
  width: 20%;
  padding: 8px;
  border:1px solid gray;
  background-color: #F28123;
  color: #fff;
  font-family: 'Poppins';
  transition: 0.3s;
  box-shadow: 0 0 5px #555555;
}
a.login:hover {
  background-color: #051922;
  color: #F28123;
}

