{% extends 'base.html' %}

{% block title %} {{ title }}  {% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{url_for('payment.static', filename='js/signup_velidation.js')}}"></script>

{% endblock %}
{% block css %}
    {{ super() }}
    <link  href="{{url_for('signup.static', filename='css/signup.css')}}" rel="stylesheet">

{% endblock %}
{% block content %}
<!-- grey area -->
	<div class="grey-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 offset-lg-0 text-center">
					<div class="grey-text">
						<div class="grey-text-tablecell">
							<p class="subtitle">BISS OF BLISS</p>
							<h1>Sign Up</h1>
                            <p class="subtitle">And Be Part Of us</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end grey area -->


	<!-- Sign up -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 offset-lg text-center">
					<div class="section-title">
						<h3><span class="orange-text">S</span>ign Up</h3><br>
						<form method="post" action="/insert_user" id="signup" onSubmit="return inputValidity()">
                            <lable  for="first_name">First Name:   </lable>
                            <!-- id connect to the for field -->
                            <input type="text" id="first_name" name="first_name" minlength="6" maxlength="20"><br> <br>
                             <lable  for="last_name">last Name:   </lable>
                            <!-- id connect to the for field -->
                            <input type="text" id="last_name" name="last_name" minlength="6" maxlength="20"><br> <br>
                            <lable for="user_name">User Name: </lable>
                            <input type="text" id="user_name" name="user_name" minlength="8" maxlength="20" placeholder="Mandatory Field"><br> <br>
{#                            <lable for="phone">Phone number: </lable>#}
{#                            <input type="tel" id='phone' name='phon_number' minlength="8" maxlength="20"><br> <br>#}
                            <lable for="email"> Email Address: </lable>
                            <input type="email" id='email' name='email'><br> <br>
                            <lable for="birth_date"> Birth Date: </lable>
                            <input type="date" id='birth_date' name='birth_date'><br> <br>
                            <lable for="Pass"> Passward: </lable>
                            <input type="passward" id="pass" name='pass' minlength="6" maxlength="16" placeholder="Mandatory Field"><br> <br>
                            <input type="submit" id="form1"  onclick="return inputValidity()"><br>
                            <p id="errorName"></p>
							<p id="errorPass"></p>
							<p id="mandatory"></p>
                        </form>
					</div>
				</div>
			</div>
        </div>
    </div>

{% endblock %}