/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.grey-area {
		height: 90%;
	}
	.grey-text h1 {
	    font-size: 45px;
	}

	.grey-text {
		margin-top: 80px;
	}
	ul.main-menu li a {
	    padding: 15px 13px;
	}
	span.close-btn {
	    right: 0;
	}
	ul.sub-menu li a {
	    padding: 7px 10px;
	}

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.grey-text h1 {
	    font-size: 40px;
	}
	.footer-box {
	    margin-bottom: 40px;
	}

	.grey-area div.grey-form {
		width: 325px;
		top: 30%;
	}

	.single-product-img {
	    margin-bottom: 30px;
	}
	.single-product-img img {
	    width: 100%;
	}
	.single-project-img img {
	    width: 100%;
	}
	.site-logo a img {
	    max-width: 150px;
	}
	.site-logo {
	    text-align: center;
	    position: absolute;
	    z-index: 999;
	}
	.eventCard {
		margin-bottom: 30px;
		margin-left: 25%;
		width: 66%;
	}
	.header-icons {
	    text-align: center;
	}
	.top-header-area {
	    padding: 15px 0;
	}

	.grey-text-tablecell {			/* -----------*/
	    padding: 0px 70px;
	}
	.grey-form .grey-text h1 {
	    font-size: 30px;
	}

	.grey-form .grey-text p.subtitle {
	    font-size: 13px;
	}

	.grey-form .grey-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 20px;
	}
	.single-product-item {
		margin-bottom: 30px;
		margin-left: 25%;
		width: 66%;
	}
	.product-image {
		padding: 30px;
		padding-bottom: 0;
	}

	.product-image img {
		width: 90%;
		border-radius: 5px;
		margin-bottom: 20px;
	}
	.sticky-wrapper.is-sticky .top-header-area {
	    position: absolute!important;
	    background-color: transparent;
	}

	nav.main-menu {
	    display: none;
	}

	a.mobile-hide.person-bar-icon {
	    display: none!important;
	}
	.mobile-show {
		display: block!important;
	}
	a.mobile-show.person-bar-icon {
	    position: absolute;
	    right: 60px;
	    top: 22px;
	    z-index: 999;
	    color: #fff;
	}

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

	.site-logo img {
	    max-width: 200px;
	}

	span.close-btn {
		right: 35px;
	}
	.header-icons {
	    text-align: center;
	}
	.grey-text h1 {
	    font-size: 28px;
	}
	.grey-text p.subtitle {
	    font-size: 13px;
	}
	.section-title p {
	    max-width: 400px;
	}

	.section-title h3 {
	    font-size: 25px;
	}

	.footer-box {
	    margin-bottom: 50px;
	}

	.footer-area {
		padding: 80px 0;
	}

	.grey-text {
	    text-align: center;
	}

	.product-image {
	    padding: 60px;
	    padding-bottom: 0;
	}

	.header-icons {
	    text-align: right;
	    margin-top: 15px;
	}

	.grey-btns a.boxed-btn {
	    margin: 0 auto;
	}

	.grey-btns {
	    text-align: center;
	}

	.grey-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 15px;

	}

	.section-title p {
		max-width: 285px;
	}

	.header-icons {
		margin-top: 0;
	}
	.site-logo {
    position: absolute;
	    z-index: 99;
	}


	.main-menu {
	    display: none;
	}

	}
	h2.widget-title {
	    font-size: 20px;
	}


	a.mobile-hide.person-bar-icon {
	    display: none!important;
	}
	.mobile-show {
		display: block!important;
	}

	a.mobile-show.person-bar-icon {
	    position: absolute;
	    right: 60px;
	    top: 22px;
	    z-index: 999;
	    color: #fff;
	}

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.grey-area div.grey-form {
	    margin: 0 auto;
	    right: auto;
	    width: 380px;
	    left: 50%;
	    margin-left: -190px;
	}

	.grey-btns {
	    text-align: center;
	}


	.grey-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 15px;
	}

}
