{% extends 'base.html' %}

{% block title %} {{ title }}  {% endblock %}
{% block js %}
    {{ super() }}
        <script src="{{url_for('events_cart.static', filename='js/count_cart.js')}}"></script>
{% endblock %}
{% block css %}
    {{ super() }}
        <link  href="{{url_for('events_cart.static', filename='css/events_cart.css')}}" rel="stylesheet">
        <link  href="{{url_for('events_cart.static', filename='css/cart.css')}}" rel="stylesheet">

{% endblock %}
{% block content %}
<!-- grey area -->
	<div class="grey-area grey-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 offset-lg-0 text-center">
					<div class="grey-text">
						<div class="grey-text-tablecell">
							<p class="subtitle">BISS OF BLISS</p>
							<h1>Events Cart</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end grey area -->


	<!-- product section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 offset-lg text-center">
					<div class="section-title">
						<h3><span class="orange-text">Your </span> Events Cart</h3>
						<p>We are so happy to serve you!  ;)</p>
					</div>
				</div>
			</div>

			<div class="col-lg-5">
				<div class="product-cart-container">
					<div class="product-cart-card">
							<div class="product-cart-image">
								<a><img src="/static/img/Events/Chocolate_Event_cart.jpg" alt="Chocolate Work Shop"></a>
							</div>
							<div class="product-cart-description">
								<h2>Chocolate Work Shop</h2>
							</div>
							<div class="product-cart-edit">
								<a href="/edit_events" class="boxed-btn">Edit</a>
								<div class="product-cart-remove">
									<div>
										<button class="transparent" onclick="remove(this)"><i class="fas fa-trash-alt fa-lg"></i></button>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

{% endblock %}


