{% extends 'base.html' %}

{% block title %} {{ title }}  {% endblock %}
{% block js %}
        {{ super() }}
        <script src="{{url_for('edit_events.static', filename='js/Events_velidation.js')}}"></script>
{% endblock %}
{% block css %}
        {{ super() }}
        <link  href="{{url_for('edit_events.static', filename='css/events.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- grey area -->
	<div class="grey-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 offset-lg-0 text-center">
					<div class="grey-text">
						<div class="grey-text-tablecell"><br><br>
							<p class="subtitle">BISS OF BLISS</p>
							<h1>Edit Event</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end grey area -->


	<!-- Description & Booking Event section -->
	<div class="mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-1 offset-lg text-center" id="orderEvents">
					<div class="section-title">
						<div class="formContainer">
							<div>
								<h2><span class="orange-text">Edit</span> Event</h2>
								<form class="myFormClass" id=form_order_event action="Events Cart.html" onSubmit="return inputValidity()">
									<div class="formRow">
										<label class="firstElement" for="type">Event Type: </label>
										<select name="type" id="type">
											<option class="secondElement" value="Empty"></option>
											<option class="secondElement" value="Chocolate">Chocolate</option>
											<option class="secondElement" value="Company">Company</option>
											<option class="secondElement" value="Waffle">Waffle</option>
										</select><br>
									</div>
									<div class="formRow">
										<label class="firstElement" for="Range_of_Ages">Age range: </label>
										<select name="Range_of_Ages" id="Range_of_Ages">
											<option class="secondElement" value="Empty"></option>
											<option class="secondElement" value="Babys">0-3</option>
											<option class="secondElement" value="Childrens">3-12</option>
											<option class="secondElement" value="Tinnes">12-18</option>
											<option class="secondElement" value="Adults">18 and above</option>
										</select><br>
									</div>
									<div class="formRow">
										<label class="firstElement" for="Food_prefernces">Food Type: </label>
										<select name="Food_prefernces" id="Food_prefernces">
											<option class="secondElement" value="Empty"></option>
											<option class="secondElement" value="Vegen">Vegen</option>
											<option class="secondElement" value="Milky">Milky</option>
											<option class="secondElement" value="kosher Parve">Parve</option>
										</select><br>
									</div>
									<div class="formRow">
										<label class="firstElement" for="Amount">Amount:</label>
										<input class="secondElement" type="text" id="Amount" name="Amount" placeholder="Amount of people..">
									</div>
									<div class="formRow">
										<label class="firstElement" for="fname">First Name:</label>
										<input class="secondElement" type="text" id="fname" name="firstname" minlength="2" maxlength="20" placeholder="Your first name..">
									</div>
									<div class="formRow">
										<label class="firstElement" for="Lname">Last Name:</label>
										<input class="secondElement" type="text" id="Lname" name="lastname" minlength="1" maxlength="20" placeholder="Your last name..">
									</div>
									<div class="formRow">
										<label class="firstElement" for="email">Email:</label>
										<input class="secondElement" type="text" id="email" name="email" placeholder="Email Address..">
									</div>
									<div class="formRow">
										<label class="firstElement" for="Phone">Phone:</label>
										<input class="secondElement" type="text" id="Phone" name="Phone" minlength="7" maxlength="15" placeholder="Phone number..">
									</div>
									<div class="formRow">
										<label class="firstElement" for="Address">Address:</label>
										<input class="secondElement" type="text" id="Address" name="Address" placeholder="Address..">
									</div>
								<input style="margin-top: 28px;" type="submit" value="Submit" onclick="return Validition()">
								<p id="mandatory"></p>
								<p id="errorPhone"></p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end Description & Booking Event section -->

{% endblock %}

